<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ol>
        {{range $.images}}
        <!-- http://127.0.0.1:8080/view?id=1.jpg -->
        <li><a href="/view?id={{.|urlquery}}">{{.|html}}</a></li>
        {{end}}
    </ol>
</body>

</html>